@keyframes flickerAnimation {
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
    animation-duration: 3s;
}

.progress div {
  width: 0;
  transition: all 2s ease-out;
}

.progress--inViewport div {
  width: 100%;
}

.promo img {
  margin-left: 800px;
  transition: all 1s ease-out;
}

.promo--inViewport img {
  margin-left: -40px;
}

.phone img {
  margin-left: 1600px;
  transition: all 2s ease-out;
}

.phone--inViewport img {
  margin-left: -40px;
}

.card img {
  margin-left: 800px;
  transition: all 1s ease-out;
}

.card--inViewport img {
  margin-left: -35px;
}

.account img {
  margin: -14px -20px -10px 35px;
  width: 100px;
  transition: all 1s ease-out;
}

.account--inViewport img {
  width: 360px;
  margin-left: -35px;
}

.bank li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear, height 0.5s linear;
}

.bank--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.bank_1>small {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear, height 0.5s linear;
}

.bank_1--inViewport >small {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.bank_2 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 1s 0.5s linear, height 0.5s 0.5s linear;
}

.bank_2--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.card_1 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s 1s linear, height 0.5s 1s linear;
}

.card_1--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.card_2 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1s 1.5s linear, height 0.5s 1.5s linear;
}

.card_2--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.card_4 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  transition: visibility 0s 2s, opacity 1s 2s linear, height 0.5s 2s linear;
}

.card_4--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}
