@keyframes flickerAnimation {
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  20%  { opacity:0.99; }
  50%  { opacity:1; }
  80%  { opacity:0.99; }
  100% { opacity:0; }
}
.animate-flicker {
  -webkit-animation-name: flickerAnimation;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
  animation: flickerAnimation 3s infinite;
  animation-duration: 3s;
}

:root {
  --back-small: scale(0.36) translate(0, -200%);
  --back-default: scale(0.66) translate(0, -120%);
  --center-small: scale(0.66) translate(0, -120%);
  --center-default: scale(0.86) translate(0, -50%);
  --forward-small: scale(0.86) translate(0, -50%);
  --forward-default: scale(1) translate(0);
  --forward-gone: scale(1) translate(0, 20%);
}
@keyframes backwardSlide {
  0%  { transform: scale(0.36) translate(0, -200%); opacity:0; }
  20% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  99% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:0; }
}
@-o-keyframes backwardSlide {
  0%  { transform: scale(0.36) translate(0, -200%); opacity:0; }
  20% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  99% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:0; }
}
@-moz-keyframes backwardSlide {
  0%  { transform: scale(0.36) translate(0, -200%); opacity:0; }
  20% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  99% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:0; }
}
@-webkit-keyframes backwardSlide {
  0%  { transform: scale(0.36) translate(0, -200%); opacity:0; }
  20% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  99% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:0; }
}
.back-slide {
  -webkit-animation-name: backwardSlide;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: infinite;
  -moz-animation: backwardSlide 2s infinite;
  -o-animation: backwardSlide 2s infinite;
  animation: backwardSlide 1s infinite;
  animation-duration: 3s;
}

@keyframes forwardSlide {
  0%   { transform: scale(0.86) translate(0, -50%); opacity:1; }
  20%  { transform: scale(1) translate(0, 10%); opacity:0; }
  30% { transform: scale(0.86) translate(0, -50%); opacity:0; }
  31% { transform: scale(0.86) translate(0, -50%); opacity:1; }
  100% { transform: scale(0.86) translate(0, -50%); opacity:1; }
}
@-o-keyframes forwardSlide {
  0%   { transform: scale(0.86) translate(0, -50%); opacity:1; }
  20%  { transform: scale(1) translate(0, 10%); opacity:0; }
  30% { transform: scale(0.86) translate(0, -50%); opacity:0; }
  31% { transform: scale(0.86) translate(0, -50%); opacity:1; }
  100% { transform: scale(0.86) translate(0, -50%); opacity:1; }
}
@-moz-keyframes forwardSlide {
  0%   { transform: scale(0.86) translate(0, -50%); opacity:1; }
  20%  { transform: scale(1) translate(0, 10%); opacity:0; }
  30% { transform: scale(0.86) translate(0, -50%); opacity:0; }
  31% { transform: scale(0.86) translate(0, -50%); opacity:1; }
  100% { transform: scale(0.86) translate(0, -50%); opacity:1; }
}
@-webkit-keyframes forwardSlide {
  0%   { transform: scale(0.86) translate(0, -50%); opacity:1; }
  20%  { transform: scale(1) translate(0, 10%); opacity:0; }
  30% { transform: scale(0.86) translate(0, -50%); opacity:0; }
  31% { transform: scale(0.86) translate(0, -50%); opacity:1; }
  100% { transform: scale(0.86) translate(0, -50%); opacity:1; }
}
.front-slide {
  -webkit-animation-name: forwardSlide;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: infinite;
  -moz-animation: forwardSlide 2s infinite;
  -o-animation: forwardSlide 2s infinite;
  animation: forwardSlide 1s infinite;
  animation-duration: 3s;
}

@keyframes centerSlide {
  0%   { transform: scale(0.66) translate(0, -120%); opacity:1; }
  20%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  30%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  31%  { transform: scale(0.86) translate(0, -50%); opacity:0; }
  32% { transform: scale(0.66) translate(0, -120%); opacity:0; }
  33% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:1; }
}
@-o-keyframes centerSlide{
  0%   { transform: scale(0.66) translate(0, -120%); opacity:1; }
  20%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  30%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  31%  { transform: scale(0.86) translate(0, -50%); opacity:0; }
  32% { transform: scale(0.66) translate(0, -120%); opacity:0; }
  33% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:1; }
}
@-moz-keyframes centerSlide{
  0%   { transform: scale(0.66) translate(0, -120%); opacity:1; }
  20%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  30%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  31%  { transform: scale(0.86) translate(0, -50%); opacity:0; }
  32% { transform: scale(0.66) translate(0, -120%); opacity:0; }
  33% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:1; }
}
@-webkit-keyframes centerSlide{
  0%   { transform: scale(0.66) translate(0, -120%); opacity:1; }
  20%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  30%  { transform: scale(0.86) translate(0, -50%); opacity:1; }
  31%  { transform: scale(0.86) translate(0, -50%); opacity:0; }
  32% { transform: scale(0.66) translate(0, -120%); opacity:0; }
  33% { transform: scale(0.66) translate(0, -120%); opacity:1; }
  100% { transform: scale(0.66) translate(0, -120%); opacity:1; }
}
.center-slide {
  -webkit-animation-name: centerSlide;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: infinite;
  -moz-animation: centerSlide 2s infinite;
  -o-animation: centerSlide 2s infinite;
  animation: centerSlide 1s infinite;
  animation-duration: 3s;
}

.progress div {
  width: 0;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.progress--inViewport div {
  width: 100%;
}

.promo img {
  margin-left: 800px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.promo--inViewport img {
  margin-left: -40px;
}

.phone img {
  margin-left: 1600px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.phone--inViewport img {
  margin-left: -40px;
}

.card>div {
  margin-left: 800px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.card--inViewport>div {
  margin-left: 0;
}

.account img {
  margin-right: 800px;
  margin-left: -800px;
  margin-top: -30px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.account--inViewport img {
  margin-right: -35px;
  margin-left: -10%;
}

.bank li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 1s linear, height 0.5s linear;
  transition: visibility 0s, opacity 1s linear, height 0.5s linear;
}

.bank--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.bank_1 {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 1s linear, height 0.5s linear;
  transition: visibility 0s, opacity 1s linear, height 0.5s linear;
}

.bank_1--inViewport {
  height: 100%;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.bank_2 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  -webkit-transition: visibility 0s 0.1s, opacity 1s 0.1s linear, height 0.5s 0.1s linear;
  transition: visibility 0s 0.1s, opacity 1s 0.1s linear, height 0.5s 0.1s linear;
}

.bank_2--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.card_1 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  -webkit-transition: visibility 0s 0.2s, opacity 1s 0.2s linear, height 0.5s 0.2s linear;
  transition: visibility 0s 0.2s, opacity 1s 0.2s linear, height 0.5s 0.2s linear;
}

.card_1--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.card_2 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 1s 0.3s linear, height 0.5s 0.3s linear;
  transition: visibility 0s 0.3s, opacity 1s 0.3s linear, height 0.5s 0.3s linear;
}

.card_2--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.card_4 li {
  height: 0px;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  -webkit-transition: visibility 0s 0.4s, opacity 1s 0.4s linear, height 0.5s 0.4s linear;
  transition: visibility 0s 0.4s, opacity 1s 0.4s linear, height 0.5s 0.4s linear;
}

.card_4--inViewport li {
  height: 24px;
  margin: 15px 0;
  display: block;
  visibility: visible;
  opacity: 1;
}
